<!DOCTYPE html>
<html lang="en">
<head>
    <title>VizMyGrant</title>


    <script type="text/javascript" src="js/jquery-2.1.0.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script type="text/javascript" src="js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/grid.css">   


    
</head>
<body>
    <div class="container">
        <div class="page-header">
            <h1>Welcome to VizMyGrant.</h1>
            <p>We have cleaned and collated grants related data from <a href="https://www.nhmrc.gov.au/grants/outcomes-funding-rounds">NHMRC</a> and provided a few ways to visualise the data for your pleasure.</p>
            <div class="row">
              <a href="https://viz-my-grant.shinyapps.io/view/">
                <div class="col-md-1">
                  <image class="img-responsive" src="images/VariableRelationships.png" alt="Relationships Between Variables"></image>
                </div>
                <div class="col-md-2">Explore the funding landscape in 2014 by examining relationships between variables in an interactive plot.</div>
              </a>
              <div class="col-md-1">&nbsp;</div>
              <a href="Circles.html">
                <div class="col-md-1">
                  <image class="img-responsive" src="images/Circles.png" alt="Circles View"></image>
                </div>
                <div class="col-md-2">Explore the level of funding through circles that represent the break down of funding across different categories.</div>
              </a>
              <div class="col-md-1">&nbsp;</div>
              <a href="https://public.tableausoftware.com/views/VizMyGrant/Dashboard?:embed=y&:display_count=no">
                <div class="col-md-1">
                  <image class="img-responsive" src="images/Tableau.png" alt="Tableau Visualisations"></image>
                </div>
                <div class="col-md-2">Varying views of the data through the powerful Tableau tool.</div>
              </a>
              <div class="col-md-1">&nbsp;</div>            
            </div>
            <div class="row">  
              <a href="topography.html">
                <div class="col-md-1">
                  <image class="img-responsive" src="images/Topography.png" alt="Geographical Heatmap"></image>
                </div>
                <div class="col-md-2">A powerful heatmap of the funding landscape in Australia.</div>
              </a>
              <div class="col-md-1">&nbsp;</div>            
            </div>        
          </div>

    </div>

</body>
</html>