<!DOCTYPE html>
<html lang="en">
<head>
    <title>VizMyGrant</title>


    <script type="text/javascript" src="js/jquery-2.1.0.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script type="text/javascript" src="js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/grid.css">   


    
</head>
<body>
    <div class="container">
        <div class="page-header">
            <h1>The Geographical Heatmap of Funding.</h1>
            <p>This map provides a heatmap that enables us to quickly see where the concentrations of funding are to be found. As we can see, it is a great time to be living in Victoria!</p>
            
            <image  class="img-responsive" src="images/Landscape topography.jpg" alt="Landscape Topography"></image>
              
        </div>

    </div>

</body>
</html>