body {
	font-family: sans-serif;
	font-size: smaller;
	padding: 0px;
    margin: 0px;
    overflow: hidden;
}

#container {
    height: 100%
    width: 100%;
	padding: 0px;
    margin: 0px;
    overflow: hidden;
}

#leftArea {
    height: 100%;
    padding: 0px;
    border-right: 1px solid grey;
    background-color: lightgrey;
    float: none;
    overflow: hidden;
}

#rightArea {
    height: 100%;
    width: 240px;
    float: right;
    overflow: hidden;
}

#heading {
    height: 30px;
    width: 100%;
    line-height: 30px;
    font-weight: bold;
    padding-left: 10px;
}

#chartArea {
    width: 100%;
    height: auto;
    border-top: 1px solid grey;
    background-color: white;
    min-height: 500px;
}

#inputArea {
    height: 95px;
    padding: 0px 5px 10px 5px;
    border-bottom: 1px dotted grey;
    position-absolute;
    text-align: center
}

#inputArea h1 {
    font-size: large;
}

#samplesArea {
    position-absolute;
    padding: 0px 10px 10px 10px;
    font-size: smaller;
    height: 500px;
    overflow: hidden;
}

#samplesArea h1 {
    font-size: large;
}

#samplesArea ul {
    height: 100%;
    overflow: auto;
}

.selector {
    width: 170px;
}

svg {
	font-size: 10px;
}

circle.normal {
  stroke-width: 0px;
}

circle.highlight {
  stroke: rgba(0,0,0,1);
  stroke-width: 2px;
}

.normalAnchor {
	font-weight: normal;
}
	
.highlightedAnchor {
	font-weight: bold;
}

.normalSample {
	color: black;
	background-color: white;
}

.highlightedSample {
	color: white;
	background-color: black;
	padding-left: 2px;
}

text {
  pointer-events: none;
}

text.highlight {
  stroke: blue;
  pointer-events: none;
}

text.shadow {
  stroke: #fff;
  stroke-width: 3px;
  stroke-opacity: .8;
}

ul { 
	padding-left:0px; 
}

li { 
	margin-bottom:0.5em; 
	list-style-type:none;
}

